# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
env/Lib/
env/Include/
env/Scripts/*.exe
env/Scripts/*.dll
env/Scripts/activate*
env/Scripts/deactivate*
env/Scripts/pip*
env/Scripts/python*
env/*.cfg
pyvenv.cfg

# Model files
*.pth

# Dataset
data/

# IDE
.vscode/
.idea/

# Other
*.log